<ion-segment
  (ionChange)="segmentChanged($event)"
  mode="md"
  [(ngModel)]="segment"
>
  <ion-segment-button value="all">
    <ion-label>All</ion-label>
  </ion-segment-button>

  <ion-segment-button value="today">
    <ion-label>Today</ion-label>
  </ion-segment-button>

  <ion-segment-button value="week">
    <ion-label>Week</ion-label>
  </ion-segment-button>

  <ion-segment-button value="month">
    <ion-label>Month</ion-label>
  </ion-segment-button>
</ion-segment>
