<ng-container *ngIf="user.amount > 0 && user?.amount - dashboard.totalMonthlyAmount > 0; then nonEmptyBudget"></ng-container>
<ng-container *ngIf="user.amount - dashboard.totalMonthlyAmount <= 0 && user.amount > 0; then budgetFull"></ng-container>
<ng-container *ngIf="user.amount == 0; then emptyBudget"></ng-container>

<ng-template #nonEmptyBudget>
    <h4 *ngIf="dashboard.totalMonthlyAmount > 0">{{ dashboard.totalMonthlyAmount | number }} BGN expensed form {{ user?.amount | number }} BGN</h4>
    <h5>{{ user?.amount - dashboard.totalMonthlyAmount | number }} BGN before you reach montly limit</h5>
</ng-template>

<ng-template #emptyBudget>
  <ion-item>
      <ion-row fixed>
        <ion-col size="8">
            <ion-label>Monthly budget is empty!</ion-label>
        </ion-col>
        <ion-col size="4">
            <ion-row class="ion-justify-content-center">
                <ion-icon name="add-circle-outline"></ion-icon>
                <ion-label (click)="presentAlertPrompt()">Add</ion-label>
            </ion-row>
        </ion-col>
      </ion-row>
  </ion-item>
</ng-template>

<ng-template #budgetFull>
  <ion-item>
    <ion-label>Monthly budget is expensed!</ion-label>
    <ion-icon name="sad"></ion-icon>
  </ion-item>
</ng-template>