<ion-menu side="start" menuId="first" contentId="content1">
  <ion-header>
    <ion-toolbar>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-sidebar-menu-details [user]="user$ | async"></app-sidebar-menu-details>
  </ion-content>
</ion-menu>
