<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expense">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="list"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
