<ion-list>
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img [src]="user?.image">
      </ion-avatar>
      <ion-label>{{ user?.username }}</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Tamnna tema
      </ion-label>
      <ion-toggle [(ngModel)]="darkMode" (ionChange)="toggleChange($event)" slot="end"></ion-toggle>
    </ion-item>
</ion-list>