<ion-content>
  <form #form="ngForm" [formGroup]="registrationForm" (ngSubmit)="submit()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              >First name</ion-label
            >
            <ion-input
              type="text"
              formControlName="firstName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              >Last name</ion-label
            >
            <ion-input
              type="text"
              formControlName="lastName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              >Username</ion-label
            >
            <ion-input
              type="text"
              formControlName="username"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              >Password</ion-label
            >
            <ion-input
              type="text"
              formControlName="password"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              >Montlhy budget</ion-label
            >
            <ion-input
              type="number"
              formControlName="amount"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button type="submit" [disabled]="!form.valid">Signup</ion-button>
  </form> 
</ion-content>
