<ion-grid>
  <form #form="ngForm" (submit)="onSubmit(form)">
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" class="ion-text-center">
        <ion-img src="assets/images/money-login.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input
            type="text"
            inputmode="text"
            clearInput
            name="username"
            required
            ngModel
          ></ion-input>
          <ion-icon name="person" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="password"
            clearInput
            name="password"
            required
            ngModel
          ></ion-input>
          <ion-icon name="key" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button
          [disabled]="!form.valid"
          type="submit"
          expand="full"
          mode="ios"
          >Login
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
