<ng-container
  *ngTemplateOutlet="
    isLoaded ? (expenses.result.length > 0 ? expenseList : emptyList) : (!hasError ? loading : emptyList);
    context: { $implicit: expenses }
  "
></ng-container>

<ng-template #emptyList>
  <div class="empty-container">
    <img src="assets/images/empty-list.png" />
    <span>{{ hasError ? 'Error! Try again later' : 'List is empty!' }}</span>
  </div>
</ng-template>

<ng-template #expenseList let-expenses>
  <ion-list>
    <ion-list-header *ngIf="expenses.result.length > 0" mode="md">
      <h4>Total amount: {{ expenses.total | currency: "BGN " }}</h4>
    </ion-list-header>
    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="this.skip.emit(this.limit)"
      [scrollWindow]="false"
    >
      <ion-item-sliding *ngFor="let expense of expenses.result">
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/money-login.png" />
          </ion-avatar>

          <ion-label>
            <h2>{{ expense.title }}</h2>
            <p>{{ expense.description }}</p>
            <p>{{ expense.date | date: "fullDate" }}</p>
          </ion-label>
          <p>
            <strong>{{ expense.amount | currency: "BGN " }}</strong>
          </p>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="deleteExpense(expense.id)" color="danger">
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
</ng-template>

<ng-template #loading>
  <ion-list>
    <ion-list-header mode="md">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-list-header>
    <ion-item *ngFor="let i of [1, 2, 3, 4, 5]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>

      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ng-template>
