ion-list {
    position: fixed;
    overflow-y: hidden;
    width: 100%;
    ion-list-header {
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
        margin-bottom: 10px;
    }
    ion-icon {
        color: red;
        font-size: 1.7rem;
    }
    div {
        max-height: calc(100vh - 290px);
        overflow-y: auto;
    }
}

.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
}